@using EntityLayer.Concrete
@model List<About>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Hakkımızda Veri Listesi</h2>
<table class="table table-bordered">
    <tr>
        <td>ID</td>
        <td>Hakkımda Başlığı</td>
        <td>Aktif Yap</td>
        <td>Pasif Yap</td>
    </tr>
    @foreach(var x in Model)
            {
                <tr>
                    <td>@x.AboutID</td>
                    <td>@x.AboutDetails1</td>
                    <td><a href="/About/DeleteAbout/@x.AboutID" class="btn btn-danger">Sil</a></td>
                    <td><a href="/About/UpdateAbout/@x.AboutID" class="btn btn-success">Güncelle</a></td>
                </tr>
            }
</table>


@Html.Action("AboutPartial","About")

